<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">


	<insert id="create" parameterType="bbsVO">
		insert into m_review values (null,
		#{text}, #{booking}, #{date}, #{imp_uid}, #{email}, #{upload_date})
	</insert>

	<update id="update" parameterType="bbsVO">
		update m_review
		set text =
		#{text}
		where r_number = #{r_number}
	</update>
	<delete id="delete" parameterType="int">
		delete from m_review
		where r_number = #{r_number}
	</delete>
	
	<select id="one" parameterType="int" resultType="bbsVO">
		select * from m_review
		where email = #{email}	
	</select>
</mapper>