<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="book">

	<insert id="create" parameterType="bookVO">
		insert into book values (null, #{email}, #{play_id})
	</insert>

	<delete id="del" parameterType="String">
		delete from book where play_id = #{play_id}
	</delete>
<!-- 
	<update id="up" parameterType="bookVO">
		update book set name = #{name}
		where id = #{id}
	</update>

	<select id="one" parameterType="int" resultType="bookVO">
		select * from
		book where id = #{id}
	</select>
-->
	<select id="all" parameterType="String" resultType="bookVO">
		select * from book where email = #{email}
	</select>

</mapper>











