<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="helpCategory">

	<insert id="insert" parameterType="helpCategoryVO">
		insert into help_category values (#{help_category_id}, #{name}, #{depth}, #{parent_category_id})
	</insert>
	
	<update id="updateName" parameterType="helpCategoryVO">
		update help_category set name = #{name} where help_category_id = #{help_category_id}
	</update>

	<select id="selectOne" parameterType="String" resultType="helpCategoryVO">
		select * from help_category where help_category_id = #{help_category_id}
	</select>
	
	<select id="selectList" resultType="helpCategoryVO" >
		select * from help_category;
	</select>
	
	<select id="selectListBySearch" parameterType="String" resultType="helpCategoryVO" >
		select * from help_category where title like concat('%',#{search},'%')
	</select>
	
	<select id="selectListByParentId" parameterType="String" resultType="helpCategoryVO" >
		select * from help_category where parent_category_id = #{parent_category_id}
	</select>
	
</mapper>
