<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="naverMember">

	<select id="naverFind" resultType="naverVO" parameterType="naverVO">
		select * from member 
		where email=#{email}
	</select>

	<insert id="naverInsert" parameterType="naverVO">
		insert into member
		values(#{nickname}, #{name}, #{email}, #{gender}, #{age}, #{birthday}, #{profile_image}, #{joinDate}, 'user')
	</insert>

	<delete id="naverDelete" parameterType="String">
		delete from member
		where
		email = #{email}
	</delete>

	<update id="naverUpdate" parameterType="naverVO">
		update member
		set nickname = #{nickname},
		name = #{name},
		gender = #{gender},
		age = #{age},
		birthday = #{birthday},
		profile_image = #{profile_image},
		user_type = #{user_type}
		where email = #{email}
	</update>

	<update id="insertProfileImage" parameterType="naverVO">
		UPDATE member
		SET profile_image = #{profile_image}
		WHERE email = #{email}
	</update>

</mapper>