<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="play">

	<insert id="create" parameterType="playVO">
		insert into play values
		(#{play_id}, #{stage_id},#{play_name},#{play_start}, #{play_end},
		#{stage_name},#{casting},#{crew}, #{runtime},
		#{play_age},#{enterprise},#{price},#{poster},
		#{content},#{genre_name},#{state},#{openrun},
		#{image},#{play_time}

		)
	</insert>

	<select id="playIdList" resultType="String">
		select play_id from play
	</select>

	<select id="stageIdList" resultType="String">
		select stage_id from play
	</select>

	<!-- <select id="idList" resultType="String"> -->
	<!-- select play_id from play -->
	<!-- </select> -->

	<!-- <update id="update" parameterType="playVO"> -->
	<!-- update member set play_name = #{play_name} where play_id = #{play_id} -->
	<!-- </update> -->

	<!-- <delete id="delete" parameterType="String"> -->
	<!-- delete from member where play_id =#{play_id} -->
	<!-- </delete> -->

	<!-- <select id="one" parameterType="String" resultType="playVO"> -->
	<!-- select * from -->
	<!-- play where play_id=#{play_id} -->
	<!-- </select> -->

	<select id="all" resultType="playVO">
		select * from play
	</select>

</mapper>