<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sns">
	
	<!--ranking테이블과 play테이블을 조인해서 추천 공연명 TOP5 가져오기 -->
	<select id="recommend" resultType="String">
		select p.play_name
		from ranking r
		join play p on r.play_id = p.play_id
		order by ranking, rank_genre
		limit 5
	</select>


</mapper>