<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="twitter">

	<delete id="delete">
	DELETE FROM twitter
	</delete>
	
	<insert id="insert" parameterType="twitterVO">
	INSERT INTO twitter VALUES
	(null, #{user}, #{screenName}, #{text}, #{mediaUrls}, #{originalLink}, #{rankNum})
	</insert>
	
	<select id="count" resultType="Integer">
	SELECT COUNT(*) FROM twitter
	</select>
	
	<select id="search" parameterType="Integer" resultType="twitterVO">
	SELECT user, screenName, text, mediaUrls, originalLink, rankNum
	FROM twitter
	WHERE rankNum = #{rankNum}
	</select>

</mapper>