<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 별명을 지어서 사용 -->
	<typeAliases>

		<!-- 안정우 -->
		<typeAlias type="com.multi.dorae.search.PlayVO"
			alias="playVO"></typeAlias>
		<typeAlias type="com.multi.dorae.search.StageVO"
			alias="stageVO"></typeAlias>
		<typeAlias type="com.multi.dorae.search.RankVO"
			alias="rankVO"></typeAlias>

		<!-- 장희진 -->
		<typeAlias type="com.multi.dorae.book.BookVO" alias="bookVO"></typeAlias>

		<!-- 최현석 -->
		<typeAlias type="com.multi.dorae.review.ReviewVO"
			alias="reviewVO"></typeAlias>
		<typeAlias type="com.multi.dorae.sns.BlogVO" alias="blogVO"></typeAlias>
		<typeAlias type="com.multi.dorae.sns.InstaVO"
			alias="instaVO"></typeAlias>
		<typeAlias type="com.multi.dorae.sns.TwitterVO"
			alias="twitterVO"></typeAlias>

		<!-- 구윤진 -->
      <typeAlias type="com.multi.dorae.login.KakaoDTO" alias="kdto"></typeAlias>
      <typeAlias type="com.multi.dorae.login.NaverVO" alias="naverVO"></typeAlias>


		<!-- 이아람 -->
		<typeAlias type="com.multi.dorae.ticket.PayVO" alias="payVO"></typeAlias>
		<typeAlias type="com.multi.dorae.ticket.SeatVO"
			alias="seatVO"></typeAlias>

		<!-- 허성만 -->
		<typeAlias type="com.multi.dorae.help.ContactVO"
			alias="contactVO"></typeAlias>
		<typeAlias type="com.multi.dorae.help.FaqVO" alias="faqVO"></typeAlias>
		<typeAlias type="com.multi.dorae.help.NoticeVO"
			alias="noticeVO"></typeAlias>


	</typeAliases>
	<mappers>
		<!-- SQL문 정의하는 파일들의 목록을 지정. -->

		<!-- 안정우 -->
		<mapper resource="mapper/playMapper.xml" />
		<mapper resource="mapper/stageMapper.xml" />
		<mapper resource="mapper/rankMapper.xml" />

		<!-- 장희진 -->
		<mapper resource="mapper/bookMapper.xml" />

		<!-- 최현석 -->
		<mapper resource="mapper/reviewMapper.xml" />
		<mapper resource="mapper/blogMapper.xml" />
		<mapper resource="mapper/instaMapper.xml" />
		<mapper resource="mapper/twitterMapper.xml" />

		<!-- 구윤진 -->
		<mapper resource="mapper/kakaoMapper.xml" />
      <mapper resource="mapper/naverMapper.xml" />

		<!-- 이아람 -->
		<mapper resource="mapper/seatMapper.xml" />
		<mapper resource="mapper/payMapper.xml" />

		<!-- 허성만 -->
		<mapper resource="mapper/noticeMapper.xml" />
		<mapper resource="mapper/contactMapper.xml" />
		<mapper resource="mapper/faqMapper.xml" />
	</mappers>
</configuration>
