@charset "UTF-8";
/*페이지 버튼 스타일  */
.pageButton {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.pages {
	border: 0px;
	background: transparent;
	color: blue;
}

#previous {
	border: 0px;
	color: blue;
	cursor: pointer;
}

#next {
	border: 0px;
	color: blue;
	cursor: pointer;
}

/*전체 담기는 부분  */
#noticeBbs {
	margin-top : 175px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#background {
	margin-top : 300px;
	margin-right: 500px;
	margin-left: 500px;
	background-color: yellow;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#notice {
	display: flex;
	margin-top: 100px;
	margin-bottom: 0;
	align-items: center;
	justify-content: center;
}

#event {
	display: flex;
	margin-top: 0;
	align-items: center;
	justify-content: center;
}

#notice-result {
	align-items: center;
	justify-content: center;
}

#event-result {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
/*테이블 설정  */
.bbs-table {
  width: 700px;
  border-collapse: collapse;
}

.bbs-table td {
  text-align: center;
  padding: 10px;
  border : 1px solid lightgrey;
}
/*첫 번째 td 크기 */
.td1 {
	width: 100px;
	background-color: red;
}
/*두 번째 td 크기 */
.td2{
	width: 500px;
}
/*세 번째 td 크기 */
.td3{
	width: 150px;
}

/*상세페이지 클릭  */
.detail:hover {
    cursor: pointer;
    background-color: #f2f2f2; /* 마우스 호버 시 배경색 변경 */
  }