@charset "UTF-8";
/*페이지 버튼 스타일  */
.pageButton {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.pages {
	border: 0px;
	background: transparent;
	color: blue;
}

#previous {
	border: 0px;
	color: blue;
	cursor: pointer;
}

#next {
	border: 0px;
	color: blue;
	cursor: pointer;
}

/*전체 담기는 부분  */
#noticeBbs {
	margin-top: 175px;
}

#background {
	margin-top: 250px;
	margin-right: 300px;
	margin-left: 300px;
	background-color: rgba(255, 153, 0, 0.2);
	height: 500px;
	position: relative;
}

#result {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#notice {
	display: flex;
	margin-bottom: 0;
	align-items: center;
	justify-content: center;
}

#event {
	display: flex;
	margin-top: 0;
	align-items: center;
	justify-content: center;
}

#notice-result {
	align-items: center;
	justify-content: center;
}

#event-result {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
/*테이블 설정  */
.bbs-table {
	width: 1000px;
	border-collapse: collapse;
}

.bbs-table td {
	text-align: center;
	padding: 10px;
}

.bbs-table tr {
	border-bottom: 1px solid white;
}

#head{
	background-color: lightgrey;
}
/*첫 번째 td 크기 */
.td1 {
	width: 150px;
}
/*두 번째 td 크기 */
.td2 {
	width: 700px;
}
/*세 번째 td 크기 */
.td3 {
	width: 150px;
}

/*상세페이지 클릭  */
.detail:hover {
	cursor: pointer;
	background-color: #f2f2f2; /* 마우스 호버 시 배경색 변경 */
}