@charset "UTF-8";

mark {
	
}

button {
	cursor: pointer;
}

.container1 {
	display: flex;
	width: 1600px;
	height: 550px;
	margin-top: 195px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(to right, #0F2027, #2C5364, #0F2027);
	border-radius: 20px;
}

.left-items {
	width: 350px;
	height: 500px;
	margin-top: 50px;
	margin-left: 280px;
	/* 		background: #ffc93c; */
	border-radius: 20px;
}

.poster {
	border-radius: 10px;
	width: 300px;
	height: 400px;
}

.reserve {
	width: 300px;
	height: 45px;
	margin-top: 10px;
	border-radius: 8px;
	background-color: CadetBlue;
	border: 0px;
	font-weight: bold;
	color: white;
}

.right-items {
	width: 600px;
	height: 400px;
	margin-top: 100px;
	margin-left: 100px;
	/* 	background: #ffc93c; */
}

.right-text {
	width: 600px;
	height: 300px;
	/* 	text-align: center; */
	/* 	margin-top: 100px; */
	/* 	margin-left: 100px; */
	/* 		background: #ffc93c; */
	font-size: x-large;
	color: white;
}

#btnBook {
	width: 70px;
	height: 35px;
	background: transparent;
	font-size: 15px;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	/* 	position: relative; */
}

.bookIcon {
	width: 20px;
	/* 	padding-top: 10px; */
	margin-left: 0px;
	margin-right: 5px;
	/* 	position: absolute; */
	top: -5px;
	left: 1px;
	filter: invert();
}

#btnShare {
	width: 70px;
	height: 35px;
	background: transparent;
	font-size: 15px;
	border: 2px solid white;
	border-radius: 10px;
	color: white;
	/* 	position: relative; */
}

.shareIcon {
	width: 20px;
	margin-left: 0px;
	margin-right: 5px;
	top: -5px; /* 원하는 위쪽 간격으로 조정 */
	left: 1px;
	margin-right: 5px; /* 원하는 위쪽 간격으로 조정 */
	filter: invert();
}

.right-grade {
	width: 80px;
	height: 80px;
	/* 	text-align: center; */
	margin-top: 30px;
	/* 		margin-left: 100px; */
	/* 	background: #ffc93c; */
	/* 	font-size: x-large; */
	color: white;
}

.left-text-style {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.container2 {
	display: flex;
	width: 1500px;
	height: 535px;
	/* 	background: #a2d5f2; */
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	/* 	background: blue; */
	/*   	-webkit-background-clip: text; */
	/*   	-webkit-text-fill-color: transparent; */
	border-radius: 20px;
}

.left-items2 {
	width: 650px;
	height: 510px;
	margin-top: 10px;
	margin-left: 170px;
	background: LavenderBlush;
	border-radius: 20px;
}

.left-text2 {
	width: 630px;
	height: 490px;
	/* 	background: cyan; */
	/* 	border: 1px solid black; */
	border-radius: 10px;
	max-height: 515px;
	overflow-y: auto; /* 세로 스크롤 활성화 */
}

.detail1 {
	margin-left: 30px;
	margin-top: 30px;
	/* 	background: MediumSpringGreen; */
}

.detail {
	margin-left: 30px;
	/* 	background: MediumSpringGreen; */
}

.content-scroll {
	/* 	margin-left: auto; */
	/* 	max-height: 120px; */
	/* 	overflow-y: auto; 세로 스크롤 활성화 */
	margin-top: 1px;
/* 	height: 0px; */
	/* 	background: #ffc93c; */
}

.right-items2 {
	margin-left: auto;
	margin-top: 10px;
	/* 	margin-bottom: 50px; */
	margin-left: 50px;
	width: 450px;
	height: 510px;
	/* 	text-align: center; */
	background: LavenderBlush;
	/* 	border: 1px solid black; */
	border-radius: 10px;
}

.map {
	/* 	margin-left: auto; */
	/* 	margin-top: 30px; */
	/* 	margin-right: 50px; */
	/* 	margin-left: 50px; */
	width: 450px;
	height: 330px;
	border-radius: 10px;
}

.map-stage {
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
}

.map-scroll {
	/* 	margin-left: auto; */
	max-height: 110px;
	overflow-y: auto; /* 세로 스크롤 활성화 */
	margin-top: 1px;
	height: 120px;
	/* 	background: #ffc93c; */
}

.map-detail {
	margin-left: 10px;
}

.container3 {
	display: flex;
	width: 1500px;
	height: 450px;
	/*  	background: #a2d5f2; */
	margin-top: 5x;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.review-items {
	width: 1150px;
	height: 400px;
	margin-left: 170px;
	margin-top: 20px;
	border-radius: 10px;
	background: LavenderBlush;
}

.review-text {
	width: 500px;
	margin-top: 20px;
	/* 	background: cyan; */
	border-radius: 10px;
}

.review-title {
	/* 	height:50px; */
	margin-left: 30px;
	margin-top: 30px;
	/* 		background: #ffc93c; */
}

#review-scroll {
	/* 	margin-left: auto; */
	max-height: 300px;
	overflow-y: auto; /* 세로 스크롤 활성화 */
	margin-top: 5px;
	height: 300px;
	margin-left: 30px;
	/* 	background: #ffc93c; */
}

.review-td {
	/* 		text-align: center; */
	/* 	margin-left:10px; */
	margin-top: 5px;
}

.score_one {
	/* 	text-align: center; */
	margin-left: 30px;
}

.review-grade {
	text-align: center;
}

.review-content {
	/* 	text-align: center; */
	margin-left: 10px;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}