@charset "UTF-8";

#check-container{
  	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 175px;
    padding: 80px;
    padding-bottom: 0;
    text-align: center;
}

.frame {
	border: 1px solid;
	padding: 40px;
	margin: 10px auto;
}

.frame td {
	padding: 10px;
}

body {
	align-items: center;
	font-size: 12pt;
	font-family: 'NanumSquare', sans-serif;
}

.search_tit strong {
	font-size: 15pt;
}

/* 버튼 설정 */
a {
    color: #000000;
    text-decoration: none;
}

.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.wrap_btn_zone{
	margin: 40px;
}

.submit {
	background-color: #FF9900; /* Orange */
}

.submit a{
	color: white;
}

.submit:hover{
	background-color: #ff8200; /* Orange */
}

.cancle:hover{
	background-color: #dcdcdc; /* Orange */
}

span.selected-label {
  font-size: 12pt;
}
