@charset "UTF-8";
/*테이블, 결과, 이미지, 호버 스타일  */
td {
	background: white;
	height: 30px;
	padding: 5px;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: none;
}

.review-img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10px;
}

.no-image {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review-detail {
	cursor: pointer;
	justify-content: center;
	align-items: center;
}

.review-detail:hover {
	background-color: #ff9900;
}

.review-table {
	width: 350px; /* 원하는 너비로 설정 */
	height: 400px; /* 원하는 높이로 설정 */
}

.bold-text {
	font-weight: bold;
}

.light-text {
	color: #999999;
}

/*결과 담기는 전체 div  */
.body {
	margin-top: 175px;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}

/*타이틀 스타일  */
#top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1400px; /* 원하는 너비로 설정 */
}

#top h1 {
	margin-right: auto;
}

#top h3 {
	margin-left: auto;
}

/*검색창 스타일  */
#searchDiv {
	margin-top: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

#searchDiv button {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#searchDiv #tagButton {
	margin-right: 10px;
}

#searchDiv input[type="text"] {
	flex: 1;
	padding: 8px;
	border: 2px solid #ff9900;
	border-radius: 3px;
	background-color: #fff;
	width: 300px;
}

#searchDiv #tagSearch {
	margin-left: 10px;
}

/*페이지 버튼 스타일  */
.pageButton {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
}

.pages {
	border: 0px;
	background: transparent;
	color: blue;
}

#previous {
	border: 0px;
	color: blue;
}

#next {
	border: 0px;
	color: blue;
}

#writeReview {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 1200px;
}

/* */
#backBtnDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#backBtn {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/*상세페이지 스타일  */
.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.imageContainer img {
	max-width: 100%;
	max-height: 400px;
	object-fit: contain;
	margin: 0 5px;
	border-radius: 10px;
}

.imageContainer button {
	margin: 0 5px;
	padding: 5px;
	background-color: #ff9900;
	color: #fff;
}

div.centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
}

.scrollable-content {
	max-height: 200px; /* 원하는 최대 높이로 설정 */
	overflow-y: auto;
}

#upAndDel {
	display: flex;
}

#upAndDel button {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}