@charset "UTF-8";
/*테이블, 결과, 이미지, 호버 스타일  */
td {
	background: white;
	height: 30px;
	padding: 5px;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: none;
}

.review-img {
	width: 300px;
	height: 300px;
	object-fit: contain;
	border-radius: 10px;
}

.no-image {
	width: 300px;
	height: 300px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review-detail {
	cursor: pointer;
	justify-content: center;
	align-items: center;
	width: 330px;
}

.review-detail:hover {
	background-color: #ff9900;
}

.review-table {
	width: 350px; /* 원하는 너비로 설정 */
	height: 400px; /* 원하는 높이로 설정 */
}

.td1 {
	width: 70px;
}

.td2 {
	width: 280px;
	text-align: left;
}

.img-td {
	text-align: center;
}

.bold-text {
	font-weight: bold;
	text-align: center;
}

.light-text {
	color: #999999;
	text-align: center;
}

/*결과 담기는 전체 div  */
.body {
	margin-top: 175px;
	background: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
}
/*태그 검색창 가운데정렬  */
#selectedEventName{
	text-align: center;
}
/*타이틀 스타일  */
#top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1400px; /* 원하는 너비로 설정 */
}

#top h1 {
	margin-right: auto;
}

#top h3 {
	margin-left: auto;
}

/*검색창 스타일  */
#searchDiv {
	margin-top: 50px;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
}

#searchDiv button {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#searchDiv #tagButton {
	margin-right: 10px;
}

#searchDiv input[type="text"] {
	flex: 1;
	padding: 8px;
	border: 2px solid #ff9900;
	border-radius: 3px;
	background-color: #fff;
	width: 300px;
}

#searchDiv #tagSearch {
	margin-left: 10px;
}

/*페이지 버튼 스타일  */
.pageButton {
	background: none;
	align-items: center;
	justify-content: center;
	display: flex;
	cursor: pointer;
}

.pages {
	border: 0px;
	background: transparent;
	color: blue;
}

#previous {
	border: 0px;
	color: blue;
	cursor: pointer;
}

#next {
	border: 0px;
	color: blue;
	cursor: pointer;
}

#writeReview {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 1200px;
}

/* */
#backBtnDiv {
	display: flex;
	align-items: center;
	justify-content: center;
}

#backBtn {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/*상세페이지 스타일  */
.imageContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.imageContainer img {
	max-width: 300px;
	max-height: 300px;
	object-fit: contain;
	margin: 0 5px;
	border-radius: 10px;
}

.imageContainer button {
	margin: 0 5px;
	padding: 5px;
	background-color: #ff9900;
	color: #fff;
}

.centered {
	justify-content: center;
	align-items: center;
}

#detail-table {
	margin: auto;
	width: 350px;
}

.scrollable-content {
	max-width: 300px;
	max-height: 200px; /* 원하는 최대 높이로 설정 */
	overflow-y: auto;
}

.clear {
	clear: both;
}

#upAndDel {
	display: flex;
	justify-content: flex-end;
}

#upAndDel button {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 10px;
}

/*태그 검색 스타일  */
#tagBody {
	display: flex;
	justify-content: center;
	align-items: center;
}

#tagTotal {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#searchBtn, #filterBtn, #return {
	background-color: #ff9900;
	color: #fff;
	padding: 8px 12px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.leftRight {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.left {
	order: 1;
}

.right {
	order: 3;
	margin-right: 10px;
}

#tagTotal input[type="text"] {
	flex: 1;
	padding: 8px;
	border: 2px solid #ff9900;
	border-radius: 3px;
	background-color: #fff;
	width: 300px;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.tagResult {
	width: 650px; /* 원하는 너비로 조정 */
	overflow: auto; /* 내용이 넘칠 경우 스크롤 표시 */
}