@charset "UTF-8";
/* .navbar{ */
/*     height: 60px; */
/*     padding-left: 30px; */
/*     padding-right: 30px; */

/* } */

/* .hero-header{ */
/*     height: 450px; */
/* /*     background-image: url("https://bakey-api.codeit.kr/files/629/images/hero_header.jpg"); */
* /
	/*     background-repeat: no-repeat; */
	/*     background-size: cover; */
	/*     background-position: center center; */
	/*     } */
	/* .navbar #logo{ */
	/* /*     line-height: 60px; */ * /
	/* } */
	/* .navbar img{ */
	/*     vertical-align: top; */
	/*     border: blanchedalmond 5px solid; */
	/* } */
	/* .navbar #menu{ */
	/*     float: right; */
	/*     list-style-type: none; */
	/*     padding: 0; */
	/*     margin: 0; */
	/* } */
	/* .navbar #menu li{ */
	/*     float: left; */
	/*     margin-left: 50px; */
	/*     line-height: 60px; */
	/* } */
	/* .navbar #menu li a { */
	/* 	color: #545454; */
	/* 	font-size: 13px; */
	/* 	text-decoration: none; */
	/* } */   
.a {
	
}

.filter {
	/* 	display: block; */
	width: 1250px;
	/* 	margin-top: 300px; */
	margin-left: auto;
	margin-right: auto;
	/* 	margin-right: 50px; */
	/* 	margin-bottom: 80px; */
}

.product {
	display: block;
	width: 200px;
	/*     text-align: center; */
	text-decoration: none;
	color: black;
	float: left;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 80px;
}

.product-list {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.products h3 {
	font-size: 24px;
	color: #545454;
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
}

.product-name {
	/* 	width:300px; */
	margin-top: 20px;
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rank {
/* 	display: block; */
	width: 300px;
/* 	margin-top: 300px; */
/* 	margin-right: 500px; */
	margin-left: 1000px;
/* 	margin-bottom: 80px; */
}


.rank-left {
	width: 30px;
}

.rank-right {
	width: 180px;
	/* 	overflow: hidden; */
	/*     text-overflow: ellipsis; */
	/*     white-space: nowrap;  */
}

.rank-right2 {
	width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.clearfix {
	clear: both;
}

.footer {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.footer a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
}