body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.left-side-bar > ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
}

.left-side-bar {
/*  background-color: #dfdfdf; */
    background-color: #ffffff;
    width: 400px;
    height: 750px;
    position: fixed;
    left: -320px;
    transition: left .3s;
}

.left-side-bar > .status-ico {
    text-align: right;
    padding: 10px;
}

.left-side-bar > ul li {
    position: relative;
}

.left-side-bar ul {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.left-side-bar ul > li > a {
    display: block;
    padding: 10px;
    white-space: nowrap;
}

.left-side-bar:hover {
    left: 0;
}

.left-side-bar ul > li:hover ul {
    display: block;
}

.left-side-bar ul > li:hover > a {
    color: white;
    background-color: black;
}

.left-side-bar > .status-ico > span:last-child {
    display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
    display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
    display: none;
}

#address_input{
  z-index: 3;
  width: 300px;
  height: 28px;
  font-size: 15px;
  border: 0;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  background-color: rgb(244, 244, 244);
  /* 필요한 위치와 스타일 속성들 */
  margin: 0 auto;
  display: block; 
}

#infolist {
    margin-top: 11px;
    max-height: 650px;
    width: 400px;
    overflow-y: scroll;
    background-color: #f1f1f1;
}

/* 아래의 모든 코드는 영역::코드로 사용 */
#infolist::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

#infolist::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #217af4; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

#infolist::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}


img{
	width: 200px;
}